doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    meta(name="title" content="Hackathon Starter Kit")
    meta(name="description" content="A Production Grade Node-Typescript/Express Boilerplate with Authentication(Local, Github, Facebook, Twitter, Google, LinkedIn, Dropbox, Slack, Instagram), Authorization, and CRUD functionality + PWA Support!")
    meta(name="keywords" content="nodejs, boilerplate, typescript express, oauth2, twitter, github, facebook, authentication, starter-kit, hackathon, mongodb, dropbox, linkedin, slack, google, discord")
    meta(name="robots" content="index, follow")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="language" content="English")

    meta(name="viewport" content="width=device-width, initial-scale=1")
    // Bootstrap CSS
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    // Font Awesome CSS 
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css")
    // Custom stylesheet - for your changes
    link(rel="stylesheet" href="dist/style.css")
    link(rel="manifest" href="manifest.json")

    // Tweaks for older IEs
    //if lt IE 9
      script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
      script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  body
    include partials/navbar
    br
    block messages
      if flashes.error || flashes.success || flashes.info
        .section
          .inner
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times; 
    block content
    include partials/footer
    // JavaScript files
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js")
    script(async,  defer,  src="https://buttons.github.io/buttons.js")
    script(src="https://www.google.com/recaptcha/api.js")
    script(src="dist/App.bundle.js")
    script(src="pwabuilder.js")


